{% extends 'base.html' %}

{% block title %}
    <title>Cadastro de Cliente</title>
{% endblock %}

<!--CABEÇALHO -->
{% block head %}
<div class="container">
    <div class="py-2 text-center">
        <h3>Cadastre seus Dados</h3>
        <p class="lead">Preencha este breve formulário para se cadastrar no nosso banco de dados:</p>
    </div>
</div>
{% endblock %}

{% block body %}
<!--NOME -->
<div class="container">
   <form class="form-group" action="/add" method="post">
        <div class="py-2 col-12">
            <strong><label>Nome Completo</label></strong>
            <input type="text" name='nome' class="form-control" placeholder="Nome Completo">
        </div>
<!--TELEFONE -->
        <div class="py-2 col-12">
            <strong><label>Telefone</label></strong>
            <input type="number" name='telefone' class="form-control" placeholder="Telefone">
        </div>
<!--EMAIL -->
        <div class="py-2 col-12">
            <strong><label>E-mail</label></strong>
            <input type="email" name='email' class="form-control" placeholder="E-mail">
        </div>
<!--ENDEREÇO -->
        <div class="py-2 col-12">
            <strong><label>Endereço</label></strong>
            <input type="text" name='endereco' class="form-control" placeholder="Endereço">
        </div>
<!--BOTÃO -->
        <div class="py-4 col-12">
            <button class="btn btn-primary btn-lg" type="submit">Finalizar Cadastro</button>
        </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</div>
{% endblock %}
