{% extends 'base.html' %}

{% block title %}
    <title>Clientes Cadastrados</title>
{% endblock %}

<!--CABEÇALHO -->
{% block head %}
<div class="container">
    <div class="py-2 text-center">
      <h3>Sistema de Cadastro</h3>
      <p class="lead">Lista de Cadastro:</p>
    </div>
</div>
{% endblock %}


  <!-- VISUALIZANDO BANCO DE DADOS -->
{% block body %}
<hr>
{% for pessoa in pessoa %}
<div class="container">
        <p class="shadow-none p-2 mb-2 bg-light rounded">Nome: {{ pessoa.nome }}</p>
        <p class="col py-0 px-md-3">Telefone: {{ pessoa.telefone}}</p>
        <p class="col py-0 px-md-3">E-mail: {{ pessoa.email }}</p>
        <p class="col py-0 px-md-3">Endereço: {{ pessoa.endereco }}</p>
    <div class=" btn pull-right p-1">
        <a class="btn btn-primary py-0 px-md-3" href="/editar/{{ pessoa.id }}">Editar</a>
        <a class="btn btn-danger py-0 px-md-3" href="/delete/{{ pessoa.id }}">Deletar</a>
    </div>
</div>
{% endfor %}
{% endblock %}